@section css{
    <link rel="stylesheet" href="~/css/sharing/notfound.css"/>
}

<div id="page-container" class="main-content-boxed side-trans-enabled">
    <main id="main-container" style="min-height: 976px;">
        <div class="hero bg-image">
            <div class="hero-inner">
                <div class="content content-full">
                    <div class="py-30 text-center">
                        <h1 class="display-4 font-w700 text-white mb-10">
                            <span class="text-muted">pod</span>
                            <span class="ftext-white-op">:</span>
                            <span class="text-muted">:</span>
                            <span class="ftext-white-op">noms</span>
                        </h1>
                        <h1 class="h2 font-w700 text-white mb-10">Sorry.. we cannot find that page..</h1>
                        <h2 class="h3 font-w400 text-muted mb-50">Perhaps the sharer deleted it? Perhaps it never existed..</h2>
                        <a class="btn btn-hero btn-rounded btn-alt-secondary" href="https://podnoms.com/">
                            <i class="fa fa-arrow-left mr-10"></i> Get me out of here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@* <main id="main-container">
<div class="bg-image">
    <div class="hero bg-black-op">
        <div class="hero-inner">
            <div class="content content-full">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1 class="display-4 font-w700 text-white mb-10">
                            <span class="text-primary-dark">pod</span>
                            <span class="ftext-white-op">:</span>
                            <span class="text-primary-dark">:</span>
                            <span class="ftext-white-op">noms</span>
                        </h1>
                        <h2 class="h4 mt-5 font-w400 text-white-op border-white-op-b">
                            <div class="mb-50 text-center">
                                <h1 class="h2 font-w700 mt-30 mb-10 text-white">Sorry.. we cannot find that page..</h1>
                                <h2 class="h3 font-w400 text-muted mb-50"></h2>
                            </div>
                            <a class="btn btn-hero btn-rounded btn-alt-secondary" href="https://podnoms.com/">
                                <i class="fa fa-arrow-left mr-10"></i> 
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main> *@