<!doctype html>
<html lang="en">
<head>
    @RenderSection("metatags", false)
    <link rel="stylesheet" href="https://cdn.podnoms.com/static/css/podnoms.min.css">
    @RenderSection("css", false)
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>