.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url("https://cdn.podnoms.com/static/images/pn-back.jpg");
    background-size: 100% 100%;
}

.hero-inner {
    /* margin-top: -280px; */
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}
